.show-button {
    display: flex; 
    justify-content: flex-end; 
    padding: 10px;
}
.button-design {
    font-weight: bold; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.edit-icon {
    color: #1976d2; 
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
  }
  
  .delete-icon {
    color: #d32f2f; 
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
  }
  
  button:hover .edit-icon {
    transform: scale(1.2);
    color: #1565c0; 
  }
  
  button:hover .delete-icon {
    transform: scale(1.2);
    color: #b71c1c; 
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }